@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-jura: "Jura", sans-serif;

  --color-primary: #161670;
  --color-secondary: rgba(22, 22, 112, 0.6);
  --color-grey: #f9f9f9;
  --text-h1: 42px;
  --text-h2: 35px;
  --text-h3: 29px;
  --text-h4: 24px;
  --text-h5: 20px;
  --text-title-1: 17px;
  --text-body-1: 14px;
  --text-body-2: 12px;
}
